{% extends "base.html" %}

{% block content %}

{% if not created %}



<div style="margin-top:30px;">
    <form action='.' method="POST">
        {% csrf_token %}
        {{form.as_p}}
        
        <!-- The Old hard coded version: -->
        <!-- <div style="margin-top:30px;">
            <input type="text" name="title" placeholder="Title"/>
        </div>  
        <div style="margin-top:10px;">
            <textarea name="content" placeholder="Content"></textarea>
        </div> -->
            <button type="submit" style="margin-top:10px;">Create Article</button>
    </form>  
</div>
{% else%}
<p>Your article was created. Click the link below to open it</p>
<a href=" {{ object.get_absolute_url }} ">{{ object.title }}</a>
{% endif %}
{% endblock %}