<form action='.' method="POST" hx-post="." hx-swap="outerHTML"> <!-- hx-post means that: send a post method to the "." url-->
    {% csrf_token %}
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

        {% for field in form %}
        <div class="{% if field.field.required %}{{ form.required_css_class }}{% endif %}">
            {{ field.errors }}
            {{ field.label_tag}} {{ field }}
            {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
    {% if formset %}
        <h2>Ingredients</h2>
        {{ formset.management_form}}
        <div id="ingredient-form-list">
        {% for form in formset %}
                <div class="ingredient-form">
                    {{ form.as_p}}
                </div>
            {% endfor %}
        </div>


        <div id="empty-form" class="hidden">{{ formset.empty_form.as_p }}</div>
        <button id="add-more" type="button">Add more</button> <!-- make sure that u use the button type instead of submit to ensure it doesnt save the data-->
    {% endif %}

    <button type="submit" style="margin-top:10px;">Save</button>
    
    
</form>