<style>
    .button-container {
        display: flex;
    }
</style>

<div id="ingredient-{{object.id}}" class="button-container">
    {{ object.quantity }} {{ object.unit }} - {{ object.name }}
    <button hx-trigger="click" hx-get="{{ object.get_hx_edit_url }}" hx-target="#ingredient-{{object.id}}">Edit</button>
    <button class="button-container" 
        hx-post="{{object.get_delete_url}}"
        type="submit"
        hx-trigger="click"
        hx-confirm="Delete ingredient?"
        hx-traget="#ingredient-{{object.id}}"
        hx-swap="outerHTML">Delete</button>
</div> 
